@import 'calendar-component/lib/calendar.css';

.calendar-table {
  width: 100%;
  height: 100%;
  color: #222;
  border-collapse: collapse;
  /*pointer-events: none;*/
  border: none;
  margin: 0;
  padding: 0;
}

.calendar-table .title {
  padding: 5px 0 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.calendar-table th {
  width: 60px;
}

.calendar-table .subheading th {
  font-weight: 700;
  font-size: 90%;
  padding-bottom: 5px;
}

.calendar-table .month,
.calendar-table .year  {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #AA0000;
}

.calendar-table .prev,
.calendar-table .next {
  opacity: 0;
}

.calendar-table a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.calendar-table .prev-day,
.calendar-table .next-day {
  display: none;
}

.calendar-table .selected {
  position: relative;
  font-weight: bold;
  transform: scale(1.3);
  color: #FF2424;
}
